In [1]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [10]:
print(10),print(20)

10
20

(None, None)

In [12]:
10,20

(10, 20)

In [14]:
print(a,b)

10 20

In [16]:
print(30,'Renuka',486.9)

30 Renuka 486.9

In [18]:
num1=100
num2=200
add=num1+num2
#the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1, "and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [20]:
name="python"
age=10
city="hyd"
#my name is python im 10years old came from hyd
print("my name is",name,"im",age,"years old came from",city)

my name is python im 10 years old came from hyd

**format()**

In [23]:
name="python"
age=10
city="hyd"
#my name is python im 10years old came from hyd
print("my name is {} im {} years old came from {}".format(name,age,city))

my name is python im 10 years old came from hyd

In [25]:
num1=100
num2=200
add=num1+num2
#the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("The addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
The addition of 100 and 200 is 300

In [27]:
num1=100
num2=200
sub=num1-num2
#the subtraction of 100 and 200 is -100
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

the subtraction of 100 and 200 is -100

In [29]:
num1=100
num2=200
mul=num1*num2
#The multiplication of 100 and 200 is 20000
print("The multiplication of {} and {} is {}".format(num1,num2,mul))

The multiplication of 100 and 200 is 20000

In [31]:
num1=100
num2=200
div=num1/num2
#The division of 100 and 200 is 0.5
print("The division of {} and {} is {}".format(num1,num2,div))

The division of 100 and 200 is 0.5

In [33]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("The average of {},{},{} is {}".format(a,b,c,avg))

The average of 10,20,30 is 20.0

In [35]:

print("=========================ADDITION===========================================")
num1=100
num2=200
add=num1+num2
#the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("The addition of {} and {} is {}".format(num1,num2,add))

print("========================SUBTRACTION==================================")

num1=100
num2=200
sub=num1-num2
#the subtraction of 100 and 200 is -100
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

print("========================MULTIPLICATION==================================")

num1=100
num2=200
mul=num1*num2
#The multiplication of 100 and 200 is 20000
print("The multiplication of {} and {} is {}".format(num1,num2,mul))

print("=========================DIVISION=================================")

num1=100
num2=200
div=num1/num2
#The division of 100 and 200 is 0.5
print("The division of {} and {} is {}".format(num1,num2,div))

print("==========================AVERAGE================================")

a=10
b=20
c=30
avg=(a+b+c)/3
print("The average of {},{},{} is {}".format(a,b,c,avg))

=========================ADDITION===========================================
the addition of 100 and 200 is 300
The addition of 100 and 200 is 300
========================SUBTRACTION==================================
the subtraction of 100 and 200 is -100
========================MULTIPLICATION==================================
The multiplication of 100 and 200 is 20000
=========================DIVISION=================================
The division of 100 and 200 is 0.5
==========================AVERAGE================================
The average of 10,20,30 is 20.0

In [37]:
num1=100
num2=200
add=num1+num2
print(f"The addition of {num1} and {num2} is {add}")

The addition of 100 and 200 is 300

**formated string**

In [42]:
num1=100
num2=200
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300

In [48]:
num1=100
num2=200
sub=num1-num2
#the subtraction of 100 and 200 is -100
print(f"the subtraction of {num1} and {num2} is {sub}")

the subtraction of 100 and 200 is -100

In [52]:
num1=100
num2=200
mul=num1*num2
#The multiplication of 100 and 200 is 20000
print(f"The multiplication of {num1} and {num2} is {mul}")

The multiplication of 100 and 200 is 20000

In [54]:
num1=100
num2=200
div=num1/num2
#The division of 100 and 200 is 0.5
print(f"The division of {num1} and {num2} is {div}")

The division of 100 and 200 is 0.5

In [56]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(f"The average of {a},{b},{c} is {avg}")

The average of 10,20,30 is 20.0

In [60]:
print(round(10.88888))
print(round(10.88888,2))
print(round(10.888888,3))

11
10.89
10.889

In [64]:
a=13
b=20
c=30
avg=(a+b+c)/3
print(round(avg,2))
avg1=round(avg,2)
print(avg1)

21.0
21.0

**I have multiple print statements but i want to show in single line**

In [67]:
print(10)
print(20)

10
20

In [69]:
print(10,20)

10 20

**End Operator**

In [72]:
print(10,end="") #if space is not provided
print(20)

1020

In [74]:
print(10,end=" ") #if one space is provided
print(20)

10 20

In [76]:
print(10,end="  ") #if two spaces is provided,the output is______
print(20,end="  ")
print(30)

10  20  30

In [80]:
print('hello',end=" ")
print('how',end=" ")
print('are',end=" ")
print('you')

hello how are you

**I have multiple values in a single print statement**

**I want to print them with some seperation**

In [83]:
print(10,20,30)

10 20 30

In [85]:
print(10,20,30,sep='======>')

10======>20======>30

In [87]:
print(10,20,30,sep='     ')

10     20     30

In [99]:
radius=25
pi=3.14
area=pi*radius*radius
print(f"The area of the circle is: {area}")

The area of the circle is: 1962.5

In [93]:
area

1962.5